<!--
    Markup for the Register page of the Overlander web app.
    Author: Ryan Rivera
    Date:   12/01/21
    File:   register.html
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/parts :: head('Overlander - Register', '/css/styles.css')"></head>
<body>

<!--  Navbar  -->
<nav th:replace="fragments/parts :: navbar()"></nav>

<!--  Section Header  -->
<header th:replace="fragments/parts :: header('Register')"></header>

<!--  Page Content  -->
<div class="container ad-card-group fade-in">
  <hr class="section-divider">

  <form class="add-user-form" method="post" th:action="@{/overlander/register/add}" th:object="${user}">

    <div class="form-row">
      <div class="form-group col-12 col-md-6">
        <label for="fName">First Name</label>
        <input class="form-control" name="fName" id="fName"
               th:type="text" th:field="*{fName}">
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="lName">Last Name</label>
        <input class="form-control" name="lName" id="lName"
               th:type="text" th:field="*{lName}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12 col-md-6">
        <label for="email">Email</label>
        <input class="form-control" name="email" id="email"
               th:type="text" th:field="*{email}">
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="phone">Phone</label>
        <input class="form-control" name="phone" id="phone" th:type="text"
               th:field="*{phone}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12 col-md-6" >
        <label for="username">Username</label>
        <input class="form-control" name="username" id="username" th:type="text"
               th:field="*{username}">
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password"
               th:type="password" th:field="*{password}">
      </div>
    </div>
    <p class="text-center text-danger mx-auto" th:if="${error != null}" th:text="${error}"></p>

    <div class="btn-group-align-center ">
      <button type="submit">Submit</button>
      <a href="/overlander"><button type="button">Cancel</button></a>
    </div>
  </form>
  <hr class="section-divider">
</div>

<!--  Footer  -->
<footer th:replace="fragments/parts :: footer"></footer>
</body>
</html>